<h3>Not focusing on styling at all</h3>
<form [formGroup]="signUpFrm" (ngSubmit)="submit()">
  <label for="">Email(Valid with @gmail.com in end)</label>
  <input type="text" formControlName="email">
  <div>
    <span *ngIf="signUpFrm.controls.email.errors && signUpFrm.controls.email.touched" style="color: red;">Email is not Valid</span>
  </div>

  <label for="">Password</label>
  <input type="password" formControlName="password">
  <div></div>

  <label for="">Confirm Password</label>
  <input type="password" formControlName="confirmPassword">

  <div *ngIf="signUpFrm.errors">
    <span *ngIf="signUpFrm.errors.isSame" style="color: red;">Confirm Password is not Same</span>
  </div>
  <div>
    <button [disabled]="signUpFrm.status == 'INVALID'">Submit</button>
  </div>
</form>
<div *ngIf="isSubmitted">
 <div>Email: {{signUpFormControl.email.value}}</div>
  <div>Password: {{signUpFormControl.password.value}}</div>
</div>